* {
    --light: #fff;
    --dark: #000;
    background: var(--dark);
    color: var(--light);
}
input:invalid {
    border: red solid 3px;
}
.date_picker {
    
}
.date_picker.active:after {
    content: 'X';
    background: var(--light);
    color: var(--dark);
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
.date_dialog {}
.date_dialog ul {
    display: inline-block;
    margin: 0.5em 1em;
    padding: 0;
    vertical-align: text-top;
    max-height: 21em;
    overflow-y: auto;
    width: auto;
    min-width: 6em;
}
.date_dialog li {
    list-style: none;
    padding: 0.2em 0;
    margin: 0.1em 0;
    cursor: pointer;
}
.date_dialog li.active {
    background: var(--light);
    color: var(--dark);
}
